<aside id="left" class="col-xl-3 order-xl-1  col-md-6 order-md-2  col-sm-12 order-sm-2">
	<h3>Available Burgers</h3>
	<ul id="burgers-to-eat" class="list-group">
		{{! generates the burger unordered list for the available burgers Not yet devouerd. }}
		{{#each burger}}
		{{#unless this.devoured}}
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{{this.id}}. {{this.burger_name}}
			<button class="eat-me btn right"> Eat Me</button>
		</li>
		{{/unless}}
		{{/each}}

	</ul>
</aside>

<section id="centre" class="col-xl-6 order-xl-2  col-md-12 order-md-1  col-sm-12 order-sm-1">
	<img src="assets/img/burgerbar.jpg" alt="Burger Bar">
	<h2>Create a burger</h2>
	<form id="new-burger-form">
		<div class="mb-3">
			<lable for="burger-name" class="form-label hide">Burger Name</lable>
			<input type="text" id="burger-name" class="form-control" name="burger-name" placeholder="Enter a burger name..."
				aria-labelledby />
			<button id="submit-form" type="submit" class="btn" value="Submit">Submit</button>
		</div>
	</form>
</section>

<aside id="right" class="col-xl-3 order-xl-3  col-md-6 order-md-3  col-sm-12 order-sm-3">
	<h3>Previous Burgers</h3>
	<ul id="burgers-eaten" class="list-group">

		{{#each burger}}
		{{#if this.devoured}}
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{{this.id}}. {{this.burger_name}}
		</li>
		{{/if}}
		{{/each}}

	</ul>
</aside>